{% load static %}

{% for comment in  comments %}
    <div class="main_comment_div">
        <div class="profile--username_date-div">
            <div class="comment-user--profile-pic mt-2">
                {% if comment.user.userprofile.profileImage %}
                    <img src="{{comment.user.userprofile.profileImage.url}}" alt="DP">
                {% else %}
                    <img src="https://twirpz.files.wordpress.com/2015/06/twitter-avi-gender-balanced-figure.png?w=640" alt="DP">
                {% endif %}
            </div>
            <div class="username-date-div mt-2">
                <div class="username--name-div">
                    <span class="name" style="font-weight: 700;">
                        {{comment.user.userprofile.name}}
                    </span>

                    <span class="username">
                        @{{comment.user.username}} . {{comment.date|date:'d M'}}
                    </span>
                </div>
                <div class="replying--to-div">
                    <span>
                        Replying to <a href="{{tweet.user.userprofile.get_absolute_url}}">@{{tweet.user.username}}</a>
                    </span>
                </div>
                <div class="comment-content">
                    <span>
                        {{comment.comment_content}}
                    </span>
                </div>
                <div class="interaction--icons-div">
                    <div class="comment-icon">
                        <img src="{% static 'images/icons/comment.svg' %}" alt="comment">
                    </div>
                    <div class="retweet-icon">
                        <img src="{% static 'images/icons/retweet.svg' %}" alt="retweet">
                    </div>
                    <div class="like-icon">
                        <img src="{% static 'images/icons/heart.svg' %}" alt="Like">
                    </div>
                    <div class="share-icon">
                        <img src="{% static 'images/icons/share.svg' %}" alt="share">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
